/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--basic-font), "Arial", sans-serif;
  font-variation-settings: "wght" var(--font-settings-big);
  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-size: cover;
  display: grid;
  grid-template-columns:
    [start] auto [line2] clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem)
    [line3] auto;
  grid-template-rows: [start] 100px [line1]auto [line2] auto;
}

.header {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  max-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  background-color: var(--background-card);
  border: 2px solid var(--border-card);
  font-family: var(--accent-font), "Arial", sans-serif;
  margin-block-end: 100px;
  text-transform: uppercase;
}

.header_logo {
  margin-block-start: 136px;
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 1.935rem + 4.863vw, 4.063rem);
  display: flex;
  justify-content: center;
}

.link_logo {
  text-decoration: none;
  cursor: pointer;
}

.link_logo:focus {
  outline: none;
}

.header_name {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.241rem + 2.736vw, 1.438rem);
  display: flex;
  justify-content: center;
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.theme-menu__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-block-end: 15px;
}

.theme-menu__button {
  margin-block-end: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  color: var(--accent-color);
  opacity: 1;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:active,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--accent-color);
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 25px;
}

.theme-menu__button::after {
  content: "";
  border-bottom: 2px solid var(--accent-color);
  position: absolute;
  bottom: 0px;
  left: 23px;
  width: 75%;
}

.main {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  row-gap: 50.5px;
  justify-content: center;
}

.article {
  display: grid;
  grid-template-columns: repeat(
    1,
    clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem)
  );
  grid-template-rows: repeat(5, auto);
  background-color: var(--background-card);
  border: 2px solid var(--border-card);
  position: relative;
}

.header_watermark {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  color: var(--accent-color);
  top: 57px;
  text-shadow: 1px 1px #fff -1px -1px #fff;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: 0.6;
}

.header_watermark_track {
  top: 58px;
  right: 25px;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .header_watermark {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.like {
  display: flex;
  grid-row: 6;
  justify-content: flex-end;
  margin-bottom: 22px;
  margin-top: 25px;
  margin-right: 25px;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  width: 130px;
  height: 38px;
  overflow: hidden;
  position: relative;
  padding-top: 5px;
}

.card__save-button {
  display: grid;
  grid-template-columns: [start] 21px [line2] auto;
  column-gap: 7px;
  padding-inline: 20px;
  padding-block: 11px;
  margin: 0 auto;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  position: relative;
}

.card-button:hover::before,
.card-button:focus-visible {
  cursor: pointer;
  outline: none;
}

.card-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.card-button:hover {
  cursor: pointer;
  background-color: var(--background-card);
  color: var(--accent-color);
}

.card-button:enabled {
  background-color: var(--background-card);
  color: var(--color-invers);
}

.card-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer-over-button);
  z-index: 0;
}

.button__text {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--color-invers);
  margin-block-end: 8px;
  margin-block-start: 8px;
}

dialog .button__text {
  padding: 2.5px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  align-self: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  block-size: 38px;
  align-items: center;
  justify-items: center;
}

.card_abstracts {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px 25.5px auto 25px;
}

.card_header {
  font-size: 18px;
  grid-row: 1;
  font-family: var(--basic-font);
  padding-inline: 10px;
  padding-block-start: 5px;
  line-height: 22px;
  padding-bottom: 4px;
}

.card_text {
  font-size: 18px;
  display: grid;
  line-height: 21px;
  text-align: left;
}

.save-memories {
  background-color: var(--background-color);
  padding: 49px 34.5px 100px;
  margin: 0 auto;
}

.sparks {
  opacity: 0;
}

.like-icon {
  cursor: pointer;
}

.like-icon .core,
.like-icon .main-body {
  fill: transparent;
}

.like-icon :hover .core,
.like-icon :hover .main-body {
  fill: var(--accent-color);
}

.card__icon-button:active .core,
.like-icon :active .main-body,
.like-icon.is-liked .contour,
.like-icon :active .contour,
.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: red;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 75%;
}

dialog {
  background-color: var(--background-card);
  color: var(--accent-color);
  padding: 0;
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
}

dialog .card__save-button {
  width: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.put_diskette {
  display: grid;
  grid-template-columns: [start] 39px [line2] 234px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  column-gap: 20px;
  text-transform: uppercase;
  line-height: 150%;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.floppy__box {
  mix-blend-mode: difference;
  color: var(--color-invers);
  margin-top: 3px;
}

.img {
  width: clamp(23.25rem, 16.12rem + 30.423vw, 43.5rem);
  height: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  display: flex;
  position: relative;
  z-index: 0;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
}

.filter-saturate {
  filter: saturate(1.5);
}

.filter-sepia {
  filter: sepia(0.5);
}

.filter-blur {
  filter: blur(0.5px);
}

.filter-contrast {
  filter: contrast(130%);
}

.filter-opacity {
  filter: opacity(90%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-grayscale {
  filter: grayscale(50%);
}

@media (width <= 376px) {
  .header {
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  }

  .theme-menu__button:disabled::before {
    top: 2px;
  }

  body {
    grid-template-columns: [start] auto [line2]auto, [line3] auto;
    grid-template-rows: [start] 100px [line1]auto [line2] auto;
  }

  .article {
    display: grid;
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    grid-template-rows: repeat(5, auto);
    border: 2px solid var(--accent-color);
  }

  .put_diskette {
    grid-template-columns: [ start] 39px [ line2] 198px;
  }

  .card__save-button {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: [start] 30px [line1] 14px;
    padding-block: 22px;
    padding-top: 15px;
  }

  .card_abstracts {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin: 25.5px 25px auto 25px;
  }

  .card_text {
    padding: 0px;
    line-height: 21px;
  }

  .button_text_ok {
    padding: 9px;
  }
  .header_logo {
    margin-block-start: 118px;
  }

  .main {
    row-gap: 50px;
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  }

  .img {
    width: clamp(23.25rem, 16.032rem + 30.798vw, 43.75rem);
    height: 375px;
    object-fit: cover;
    border-bottom: 4px solid var(--accent-color);
  }

  .header_watermark_track {
    top: 76px;
    right: 14px;
  }

  .header_watermark {
    right: 11px;
  }

  .like {
    display: flex;
    grid-row: 6;
    justify-content: flex-end;
    margin-bottom: 21px;
    margin-top: 26px;
    padding-top: 0px;
    margin-right: 23.5px;
  }

  .card__like-button {
    width: 130px;
  }

  .card__icon-button {
    margin-right: 0px;
  }

  .card__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  dialog .floppy__box {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  dialog .button__text {
    width: 215px;
  }

  dialog .put_diskette {
    column-gap: 12px;
    line-height: 130%;
  }

  .floppy__box {
    grid-row: 1;
    width: 28px;
    height: 28px;
    margin-left: 115.5px;
    margin-top: 0px;
  }
}

@supports (font-variation-settings: normal) {
  .card__header {
    font-variation-settings: "wght" var(--font-settings-big);
  }

  .card_text {
    font-variation-settings: "wght" var(--font-settings-medium);
  }
}
