/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: "PressStart2P";
  --basic-font: "Inter-Variable";
  --weight-main-text: 400;
  --weight-heading-text: 700;
  --background-color-scheme: rgb(255, 255, 255);
  --accent-color-scheme-light: rgb(0, 0, 0);
  --background-color-scheme-dark: rgb(0, 0, 0);
  --accent-color-scheme-dark: rgb(0, 204, 20);
  --favicon-dark-color: rgb(0, 204, 20);
  --background-image-light: repeating-linear-gradient( 
      to right,
    #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient( #e7e7e7 0.01%,  #1a1a1a);
  --background-image-dark: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient( #007f0c 0.01%, #004306);
  --accent-color-span-white: rgb(255, 255, 255);
  --contour-heart-color-black: #000;
  --contour-heart-color-green: rgb(0, 204, 20);
  --sparkles-red: red;
  --background-cards-white: rgb(255, 255, 255);
  --background-cards-black: rgb(0, 0, 0);
  --border-card-black: rgb(0, 0, 0);
  --border-card-green: rgb(0, 204, 20);
  --color-inverse-white: rgb(255, 255, 255);
  --color-inverse-green: rgb(0, 204, 20);
  --layer-over-button-black: rgb(0, 0, 0);
  --layer-over-button-green: rgb(0, 204, 20);
  --font-settings-L: 700;
  --font-settings-M: 400;
  --inter-title-dark: 785;
  --inter-text-dark: 465;

  --background-image: var(--background-image-light);
  --font-settings-big: var(--font-settings-L);
  --font-settings-medium: var(--font-settings-M);
  --contour-color: var(--contour-heart-color-black);
  --layer-over-button: var(--layer-over-button-black);
  --color-invers: var(--color-inverse-white);
  --border-card: var(--border-card-black);
  --background-card: var(--background-cards-white);
  --sparkles: var(--sparkles-red);
  --contour-heart: var(--contour-heart-color-black);
  --button-text-white: var(--accent-color-span-white);
  --gradient: var(--gradient-light);
  --background-color: var(--background-color-scheme);
  --accent-color: var(--accent-color-scheme-light);
}
